// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  $block-name: &;

  &__first {
    height: 100vh;
    background-color: rgb(71, 255, 194);
  }

  &__second {
    height: 100vh;
    background-color: tomato;
  }

  &__third {
    height: 100vh;
    background-color: #cacaca;
  }
}
