extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content

  style.
    form {
      margin: 150px auto;
      width: 500px;
      height: auto;
    }

  //  form(
      action="test-form.php",
      method="post",
      data-check-form,
      data-ajax,
      data-ok-msg="Форма успешно отправлена",
      data-error-msg="При отправке формы возникла ошибка, попробуйте перезагрузить страницу и отправить форму ещё раз"
    )
      +field-text({
        title: 'Имя',
        helpText: 'Подсказка',
        attrs: {
          name: 'name',
          'data-check-pattern': '^[а-яА-Яa-zA-Z]{3,25}$',
        }
      })
      +field-text({
        title: 'Телефон',
        helpText: 'Подсказка',
        attrs: {
          name: 'tel',
          'data-check-pattern': "^((8|\\+7|\\+3)[\\- ]?)?(\\(?\\d{3}\\)?[\\- ]?)?[\\d\\- ]{7,15}$",
        }
      })
      +field-text({
        title: 'Комментарий',
        isTextarea: true,
        helpText: 'Подсказка',
        attrs: {
          name: 'comment',
          'data-check-pattern': '^[а-яА-Яa-zA-Z ]+$',
        }
      })
      +field-checkbox([
        {
          title: 'Чекбокс0',
          helpText: 'Подсказка',
          attrs: {
            name: 'check0',
            'data-check-state': 'on',
          }
        },
      ])
      +btn('Отправить')

  //+pagination()
    +pagination-item('1', '/1')
    +pagination-item('...')
    +pagination-item('4', '/4')
    +pagination-item('5', '/5', true)
    +pagination-item('6', '/6')
    +pagination-item('...')
    +pagination-item('999', '/999')

  .btns-group.j-c-center
    +btn('Just open')#testDialogShow(type="button")
    +btn('Open like modal')#testDialogShowModal(type="button")

  dialog#testDialog
    .dialog__inner.text-flow
      h2 This is title
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, tempora ea cumque eum culpa exercitationem? Fugit soluta quia corporis nihil, assumenda reiciendis aliquam quidem dolorum harum, adipisci dolorem accusamus voluptates!
      +btn('close dialog')

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
